__pycache__
*.py[codz]
cars/data/manifest.csv
cars/data/train/images
cars/data/test/images
cars/data/val/images
cars/yolo_data.yaml
yolov8n.pt
cars/models/
cars/runs/
cars/data/val/labels.cache
cars/data/train/labels.cache
cars/annotations/train_coco.json
cars/data/train/labels
cars/annotations/val_coco.json
cars/data/val/labels
cars/runs/detect/cars/yolov8s_cars
cars/yolo26n.pt
